<form method="post" action="{{ path('app_login') }}">
    <label for="inputCode" class="sr-only">{{ 'login.code_label'|trans }}</label>
    <input type="text" name="code" id="inputCode" class="form-control" placeholder="{{ 'login.code_placeholder'|trans }}" required>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    <button class="btn btn-lg btn-primary" type="submit">
        {{ 'login.button'|trans }}
    </button>
</form>